//
// CSS for the specific theme footer
//
#subfooter{

	background: darken( $base-white, 20% );	
	height: auto;
	
	color: lighten( $base-color, 10% );
	@include padding-trailer(0);
	
	@include box-shadow( 
		lighten($base-color, 60% ) 0 6px 6px -3px
	);

	& .bg-image{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		
		//@include single-transition( all, 0.2s );
		//background: url('../images/texture-white-60.jpg') no-repeat center 0;
		background: url('../images/texture-white-60.jpg') repeat-x center 0;
		
		@include opacity( 0.35 );


	}


	& #group{
		
	}
	
	& .ox{
		@include padding-leader(1.5);
		@include margin-trailer(-0.25);
		
		@include adjust-font-size-to( 20px );
		letter-spacing: 1px;
		
		& span{
			@include inline-block;
			vertical-align: middle;
			
			&.icon{
				@include main-sprite;
				width: 34px;
				height: 32px;
				background-position: -1400px 0;
				margin-right: 0.5em;
			}
		}
	}
	
	& .partners{
		//background: $base-white;
		
		background: rgba(255,255,255,0.5);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FFFFFFF,endColorstr=#7FFFFFFF)";
		    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FFFFFFF,endColorstr=#7FFFFFFF);
		      zoom: 1;
		
		@include padding-leader();
		@include padding-trailer();
		
		& h2{
			@include inline-block;
			vertical-align: middle;
			& a{
				display: block;
				@include main-sprite;
				text-indent: -9999em;
				margin-right: 78px;
				
				@include opacity(0.8);
				
				&:hover{
					@include opacity(1);
				}
				
				&.joe{
					width: 85px;
					height: 68px;
					background-position: -650px 0;
				}
				&.boom{
					width: 122px;
					height: 67px;
					background-position: -800px 0;
				}
				&.archer{
					width: 74px;
					height: 74px;
					background-position: -950px 0;
				}
				&.max{
					width: 123px;
					height: 58px;
					background-position: -500px 0;
				}
				&.phoenix{
					width: 57px;
					height: 75px;
					background-position: -1050px 0;
				}
				&.blues{
					width: 74px;
					height: 73px;
					background-position: -1150px 0;
					margin-right: 0;
				}
			}
		}
	}
	
}

#footer{
	background: lighten( $base-color, 70% );
	@include padding-leader();
	@include padding-trailer();
	@include adjust-font-size-to( 20px );
	color: lighten( $base-color, 10% );
	
	& .foot-left{
		@include float-left;
	}
	& .foot-right{
		@include float-right;
		
		& span, & a{
			@include inline-block;
			vertical-align: middle;
		}
		& #guruLink{
			@include main-sprite;
			width: 128px;
			height: 37px;
			background-position: -1250px 0;
			text-indent: -9999em;
			margin-left: 0.5em;
			@include opacity(0.9);
			
			&:hover{
				@include opacity(1);
			}
		}
	}
}